<div class="card user">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            Name:
            <%- user.fname + " " + user.lname%>
        </li>
        <li class="list-group-item">Email:
            <%-user.email%>
        </li>
        <li class="list-group-item">User Type:
            <%-user.userType%>
        </li>
        <li class="list-group-item">Branch:
            <%-Branch%>
        </li>
        <% if(withPassword){%>
            <% if(user.salary){%>
                <li class="list-group-item">Salary:
                    <%-user.salary%>
                </li>
                <%}%>

                    <li class="list-group-item">Password:
                        <%-user.password%>
                    </li>

                    <li class="list-group-item">
                        <button class="btn btn-warning" data-toggle="modal" data-target="#deleteUserModal" onclick="prepareDelete('<%- user.fname + ' ' + user.lname%>','<%- user.email%>')">Delete</button>
                        <%if(user.userType == "employee"){%>
                            <button class="btn btn-warning" data-toggle="modal" data-target="#promoteModal" onclick="preparePromote('<%- user.fname + ' ' + user.lname%>','<%- user.email%>')">Promote</button>
                            <%}%>
                                <%if(user.userType == "manager"){%>
                                    <button class="btn btn-warning" data-toggle="modal" data-target="#demoteModal" onclick="prepareDemote('<%- user.fname + ' ' + user.lname%>','<%- user.email%>')">Demote</button>
                                    <%}%>
                    </li>

                    <% } %>
    </ul>
</div>